<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorites</title>
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon.ico"
    />
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/10ca723294.js" crossorigin="anonymous"></script>
</head>
<body>
   <tr><h1><img class="logo" src="../img/onlysubs.png" alt="onlysubs logo"></h1></tr> 

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   
    <h1>My Favorites</h1>

    <div class="nav">
        <div><a href="/results">Back to Main</a></div>       
        <div><a href="/logout">Log Out</a></div>
    </div> 

    <table>
        <tbody>
            <tr class="stack">
                <th class= 'menuBar'>Image</th>
                <th class= 'menuBar'>Make</th>
                <th class= 'menuBar'>Year</th>
                <th class= 'menuBar'>Date Dropped</th>
                <th class= 'menuBar'>Yard Location</th>
                <th class= 'menuBar'>Row</th>
                <th class= 'menuBar'>Vin</th>
              </tr>
              <tbody>

            <tbody>
                <% favorite.forEach(el => { if (el.imageUrl != null) {%>
                    <tr class="todoItem cars">
                        
                        <td><img id="image" src="<%= el.imageUrl %>" alt="<%= el.imageUrl %>"></td>
                    
                      <td class="make"><span><%= el.make %></span></td>
                      
                      <td class="year"><span><%= el.year %></span></td>
                      <td class="date"><span><%= el.dateDropped %></span></td>
                     
                      <td class="yard" ><span><%= el.yardLocation %></span></td>
                     
                      <td class="row"><span><%= el.row %></span></td>
                     
                      <td class="vin"><span><%= el.vin %></span></td>
                  
                  <td>
                  <form action="/deleteFavorite/<%= el._id %>" method="DELETE" class="col-3">
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                  </form></td>
                </tr>
                  <% }}) %>
                </tbody>
        </table>
   
    <table class="formAndButton">
        <tbody>
            <td class="bottom">
                <form action="/results/getResults" method="POST">
                    <label for="Years">Year (ex. "1994-99, 77")</label>
                    <input id="years" type="text" name="years">

                    <label for="distance">Search Withing How Many Miles of?</label>
                    <input id="zip" type="text" name="zip">

                    <select id="miles" name="miles">
                        <option value="10">10 Miles</option>
                        <option value="25">25 Miles</option>
                        <option value="50">50 Miles</option>
                        <option value="100">100 Miles</option>
                        <option value="500">500 Miles</option>
                    </select>
                    <td class="bottom"><button id="activate" class="button">New Search</button></td>
                </form>
            </td>

            <td class="bottom"><a href="/logout">Logout</a></td>
        </tbody>
    </table>

    <script src="../js/main.js"></script>
</body>
</html>