<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Subarus</title>
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon.ico"
    />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <tr><h1><img class="logo" src="img/onlysubs.png" alt="onlysubs logo"></h1></tr> 

    <!-- <span><%= scraped %></span> -->
    <table>
        <tbody>
            <tr>
                <th class= 'menuBar'>Image</th>
                <th class= 'menuBar'>Make</th>
                <th class= 'menuBar'>Year</th>
                <th class= 'menuBar'>Date Dropped</th>
                <th class= 'menuBar'>Yard Location</th>
                <th class= 'menuBar'>Row</th>
                <th class= 'menuBar'>Vin</th>
              </tr>
              <tbody>
            <% scraped.forEach(el => { %>
                <tr class="todoItem">
                    
                    <td><a href="<%= el[15] %>"><img src="<%= el[14] %>" alt="<%= el[14] %>"></a></td>
                
                  <td><span><%= el[2]%><br><%=  el[3] %></span></td>
                  
                  <td><span><%= el[1] %></span></td>
                  <td><span><%= el[5] %></span></td>
                 
                  <td><span><%= el[4] %></span></td>
                 
                  <td><span><%= el[10] %></span></td>
                 
                  <td><span><%= el[6] %></span></td>
                  
                </tr>
              <% }) %>
            </tbody>
        </table>
   
    <!-- <form action="/todos/getTodos" method='GET'>
        <input type="submit">
    </form> -->

    <form action="">
        <label for="Years">Year (ex. "1994-99, 77")</label>
        <input id="years" type="text">

        <label for="distance">Search Withing How Many Miles of?</label>
        <input id="zip" type="text">

        <select id="miles" name="miles">
            <option value="10">10 Miles</option>
            <option value="25">25 Miles</option>
            <option value="50">50 Miles</option>
            <option value="100">100 Miles</option>
            <option value="500">500 Miles</option>
        </select>
        <button id="activate" class="button">New Search</button>
    </form>

    <button class="button">Search Again</button>
   


    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>